body{
    background-color: beige;
}

.overview{
    width: 65%;
    
    
}
.headshot{
    display: inline-block;
    height: 400px;
    width: 1700px;
}
.person{
   display: inline-block;
   width: 300px;
   height: 300px;
   margin: 10px;

}
.head{
    object-fit: cover;
    width: 250px;
    height: 250px;
}